@import url("http://fonts.googleapis.com/css?family=Roboto");
@import url("http://fonts.googleapis.com/css?family=Amatic+SC:700");
input, textarea {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-size: 1rem; }
  input::-ms-clear, textarea::-ms-clear {
    display: none; }

.cd-user-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(78, 99, 97, 0.9);
  z-index: 3;
  overflow-y: auto;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0, visibility 0 0.3s;
  -moz-transition: opacity 0.3s 0, visibility 0 0.3s;
  transition: opacity 0.3s 0, visibility 0 0.3s; }
  .cd-user-modal.is-visible {
    visibility: visible;
    opacity: 1;
    -webkit-transition: opacity 0.3s 0, visibility 0 0;
    -moz-transition: opacity 0.3s 0, visibility 0 0;
    transition: opacity 0.3s 0, visibility 0 0; }
    .cd-user-modal.is-visible .cd-user-modal-container {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0); }

.cd-user-modal-container {
  position: relative;
  width: 90%;
  max-width: 450px;
  background: #FFF;
  margin: 3em auto 4em;
  cursor: auto;
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  transform: translateY(-30px);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  .cd-user-modal-container .cd-switcher {
    list-style: none;
    padding: 0; }
    .cd-user-modal-container .cd-switcher:after {
      content: "";
      display: table;
      clear: both; }
    .cd-user-modal-container .cd-switcher .angle-wrap {
      padding: 0;
      display: block;
      padding: 0; }
    .cd-user-modal-container .cd-switcher .angle {
      background: url("../img/angle.svg") no-repeat center center;
      width: 50px;
      height: 60px;
      position: absolute;
      background-size: 95px;
      top: -6px;
      left: -1px; }
    .cd-user-modal-container .cd-switcher li {
      font-weight: bold;
      padding: 20px 20px 0px 20px;
      text-align: center;
      color: #000; }
  @media only screen and (min-width: 320px) {
    .cd-user-modal-container {
      margin: 4em auto; }
      .cd-user-modal-container .cd-switcher a {
        height: 70px;
        line-height: 70px; } }

.cd-form {
  padding: 1.4em; }
  .cd-form .fieldset {
    position: relative;
    margin: 1.4em 0; }
    .cd-form .fieldset .title-name {
      width: 20%;
      display: inline-block;
      vertical-align: bottom; }
    .cd-form .fieldset .select-menu {
      width: 77%;
      border-color: rgba(0, 0, 0, 0.5); }
    .cd-form .fieldset .time-inherit {
      width: inherit; }
    .cd-form .fieldset .event-time {
      margin-left: 20px; }
    .cd-form .fieldset:first-child {
      margin-top: 0; }
    .cd-form .fieldset:last-child {
      margin-bottom: 0; }
    .cd-form .fieldset .time-input {
      width: 25px; }
  .cd-form .create-btn {
    text-align: center;
    width: 100%; }
  .cd-form label {
    font-size: 14px;
    font-size: 0.875rem; }
    .cd-form label.image-replace {
      /* replace text with an icon */
      display: inline-block;
      position: absolute;
      left: 15px;
      top: 50%;
      bottom: auto;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      height: 20px;
      width: 20px;
      overflow: hidden;
      text-indent: 100%;
      white-space: nowrap;
      color: transparent;
      text-shadow: none;
      background-repeat: no-repeat;
      background-position: 50% 0; }
  .cd-form input {
    margin: 0;
    padding: 0; }
    .cd-form input.full-width {
      width: 77%; }
    .cd-form input.has-border {
      border: none;
      border-bottom: 1px solid rgba(0, 0, 0, 0.5);
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none; }
      .cd-form input.has-border:focus {
        border-color: #4e6361;
        outline: none; }
    .cd-form input[type=submit] {
      padding: 16px 0;
      cursor: pointer;
      background: #81b06c;
      color: #FFF;
      border: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      border-bottom: 3px solid rgba(0, 0, 0, 0.5); }
      .no-touch .cd-form input[type=submit]:hover, .no-touch .cd-form input[type=submit]:focus {
        outline: none; }
  @media only screen and (min-width: 320px) {
    .cd-form {
      padding: 2em; }
      .cd-form .fieldset:first-child {
        margin-top: 0; }
      .cd-form .fieldset:last-child {
        margin-bottom: 0; }
      .cd-form input.has-padding {
        padding: 10px 20px 10px 10px; }
      .cd-form input[type=submit] {
        padding: 10px 0; } }

.cd-form-message {
  padding: 1.4em 1.4em 0;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.4;
  text-align: center; }
  @media only screen and (min-width: 320px) {
    .cd-form-message {
      padding: 2em 2em 0; } }

.cd-form-bottom-message {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -30px;
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem; }
  .cd-form-bottom-message a {
    color: #FFF;
    text-decoration: underline; }

.cd-close-form {
  /* form X button on top right */
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 0;
  top: -40px;
  background: url("../img/cd-icon-close.svg") no-repeat center center;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }
  @media only screen and (min-width: 1170px) {
    .cd-close-form {
      display: none; } }

#cd-login, #cd-signup, #cd-reset-password {
  display: none; }

#cd-login.is-selected, #cd-signup.is-selected, #cd-reset-password.is-selected {
  display: block; }

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  color: #4e6361;
  background-color: #f5f4e9; }

a {
  color: #6cac70;
  text-decoration: none; }

.cd-img-replace {
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap; }

.overflow-hidden {
  overflow: hidden; }

.cd-main-content {
  /* set a min-height and a z-index to be sure that the main element completely covers the lateral menu */
  min-height: 100%;
  height: 1px;
  /*hack for 100% height */
  position: relative;
  background-color: #f5f4e9;
  z-index: 2;
  padding-top: 50px;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s; }
  .cd-main-content.lateral-menu-is-open {
    /* translate to show the lateral menu - all content needs to be put in the .cd-main-content to translate*/
    -webkit-transform: translateX(260px);
    -moz-transform: translateX(260px);
    -ms-transform: translateX(260px);
    -o-transform: translateX(260px);
    transform: translateX(260px); }
  @media only screen and (min-width: 768px) {
    .cd-main-content {
      padding-top: 50px; } }

header {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: #81b06c;
  z-index: 3;
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s; }
  header a {
    cursor: pointer; }
  header .exit {
    background-image: url("../img/exit.svg");
    width: 30px;
    height: 30px;
    position: absolute;
    top: 9px;
    right: 10px;
    transform: scale(0.7); }
  header .project-logo {
    color: #fff;
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    top: 8px; }
  header .logo {
    padding-top: 5px;
    position: absolute;
    right: 55px; }
  header img {
    border-radius: 50%;
    width: 40px;
    display: inline-block;
    vertical-align: middle; }
  header .name {
    display: none;
    vertical-align: middle;
    color: #fff;
    margin-right: 10px;
    font-weight: 500; }
    @media only screen and (min-width: 700px) {
      header .name {
        display: inline-block; } }
  header.lateral-menu-is-open {
    /* translate to show the lateral menu */
    -webkit-transform: translateX(260px);
    -moz-transform: translateX(260px);
    -ms-transform: translateX(260px);
    -o-transform: translateX(260px);
    transform: translateX(260px); }
  header.is-fixed {
    position: fixed; }
  @media only screen and (min-width: 768px) {
    header {
      height: 50px; } }

#cd-logo {
  display: block;
  float: left;
  margin: 12px 0 0 20px; }
  #cd-logo img {
    display: block; }
  @media only screen and (min-width: 768px) {
    #cd-logo {
      margin: 22px 0 0 30px; } }

#cd-top-nav {
  position: absolute;
  top: 0;
  right: 120px;
  height: 100%;
  display: none; }
  #cd-top-nav ul {
    height: 100%;
    padding-top: 18px; }
  #cd-top-nav li {
    display: inline-block;
    margin-right: 1em; }
  #cd-top-nav a {
    display: inline-block;
    padding: .5em;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600; }
    #cd-top-nav a.current {
      background-color: #242e30; }
    .no-touch #cd-top-nav a:hover {
      color: rgba(255, 255, 255, 0.7); }
  @media only screen and (min-width: 768px) {
    #cd-top-nav {
      display: block; } }

#cd-menu-trigger {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50px; }
  #cd-menu-trigger .cd-menu-text {
    height: 100%;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 600;
    display: none; }
  #cd-menu-trigger .cd-menu-icon {
    /* this span is the central line in the menu menu */
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 18px;
    height: 2px;
    background-color: #FFF;
    /* these are the upper and lower lines in the menu menu */ }
    #cd-menu-trigger .cd-menu-icon::before, #cd-menu-trigger .cd-menu-icon:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: inherit;
      left: 0; }
    #cd-menu-trigger .cd-menu-icon::before {
      bottom: 5px; }
    #cd-menu-trigger .cd-menu-icon::after {
      top: 5px; }
  #cd-menu-trigger.is-clicked .cd-menu-icon {
    background-color: rgba(255, 255, 255, 0); }
    #cd-menu-trigger.is-clicked .cd-menu-icon::before, #cd-menu-trigger.is-clicked .cd-menu-icon::after {
      background-color: white; }
    #cd-menu-trigger.is-clicked .cd-menu-icon::before {
      bottom: 0;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    #cd-menu-trigger.is-clicked .cd-menu-icon::after {
      top: 0;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  @media only screen and (min-width: 768px) {
    #cd-menu-trigger {
      width: 50px; }
      #cd-menu-trigger .cd-menu-text {
        display: inline-block;
        line-height: 50px; } }

#cd-lateral-nav {
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
  visibility: hidden;
  /* the secondary navigation is covered by the main element */
  z-index: 1;
  width: 260px;
  background-color: #242e30;
  overflow-y: auto;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform .4s 0s, visibility 0s .4s;
  -moz-transition: -moz-transform .4s 0s, visibility 0s .4s;
  transition: transform .4s 0s, visibility 0s .4s;
  /* this creates the subtle slide in animation of the navigation */
  -webkit-transform: translateX(-80px);
  -moz-transform: translateX(-80px);
  -ms-transform: translateX(-80px);
  -o-transform: translateX(-80px);
  transform: translateX(-80px); }
  #cd-lateral-nav .cd-navigation {
    margin: 10px 0 16px;
    list-style: none;
    padding: 0; }
  #cd-lateral-nav .sub-menu {
    padding: 0 10px 20px 15px;
    display: none;
    list-style: none; }
  #cd-lateral-nav a {
    display: block;
    line-height: 3em;
    padding: 0 16px 0 32px;
    color: #aab5b7; }
    #cd-lateral-nav a.current {
      background-color: #3a4a4d;
      color: #FFF; }
    .no-touch #cd-lateral-nav a:hover {
      color: #FFF; }
  @media only screen and (min-width: 768px) {
    #cd-lateral-nav .cd-navigation {
      margin: 2px 0; } }
  #cd-lateral-nav.lateral-menu-is-open {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
    -webkit-transition: -webkit-transform .4s 0s, visibility 0s 0s;
    -moz-transition: -moz-transform .4s 0s, visibility 0s 0s;
    transition: transform .4s 0s, visibility 0s 0s;
    /* smooth the scrolling on touch devices - webkit browsers */
    -webkit-overflow-scrolling: touch; }

/* style menu items which have a submenu  */
#cd-lateral-nav .item-has-children > a {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  /* this is the right arrow to show that the item has a submenu  */ }
  #cd-lateral-nav .item-has-children > a::after {
    content: '';
    display: block;
    height: 11px;
    width: 8px;
    position: absolute;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 1em;
    background: url("../img/cd-arrow.svg") no-repeat center center;
    background-size: 8px 11px;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s; }
  #cd-lateral-nav .item-has-children > a.submenu-open::after {
    -webkit-transform: translateY(-50%) rotate(90deg);
    -moz-transform: translateY(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) rotate(90deg);
    -o-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg); }

#cd-lateral-nav .socials {
  padding: 0 32px; }
  #cd-lateral-nav .socials:after {
    content: "";
    display: table;
    clear: both; }
  #cd-lateral-nav .socials a {
    height: 32px;
    width: 32px;
    float: left;
    padding: 0;
    background-image: url("../img/cd-socials.svg");
    background-repeat: no-repeat;
    background-size: 128px 64px;
    background-color: #FFF;
    margin-right: .5em;
    border-radius: 0.25em; }
    #cd-lateral-nav .socials a.cd-twitter {
      background-position: 0 0; }
    #cd-lateral-nav .socials a.cd-github {
      background-position: -32px 0; }
    #cd-lateral-nav .socials a.cd-facebook {
      background-position: -64px 0; }
    #cd-lateral-nav .socials a.cd-google {
      background-position: -96px 0; }
    .no-touch #cd-lateral-nav .socials a:hover {
      background-color: #4e6361; }
      .no-touch #cd-lateral-nav .socials a:hover.cd-twitter {
        background-position: 0 -32px; }
      .no-touch #cd-lateral-nav .socials a:hover.cd-github {
        background-position: -32px -32px; }
      .no-touch #cd-lateral-nav .socials a:hover.cd-facebook {
        background-position: -64px -32px; }
      .no-touch #cd-lateral-nav .socials a:hover.cd-google {
        background-position: -96px -32px; }

/* GOOGLE MAP */
#google-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f5f4e9; }

/* ADD MORE INFO */
.more-info {
  height: 35% !important; }

#cd-google-map {
  position: relative;
  height: 100%; }
  #cd-google-map address {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 1em 1em;
    background-color: rgba(129, 176, 108, 0.8);
    color: #fff;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
    font-size: 0.8125rem; }
    @media only screen and (min-width: 768px) {
      #cd-google-map address {
        font-size: 15px;
        font-size: 0.9375rem;
        text-align: center;
        font-weight: 500;
        font-style: normal; } }
    #cd-google-map address.not-visible {
      display: none; }
    #cd-google-map address.is-visible {
      display: block; }
  #cd-google-map .tap {
    display: none;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 1em 1em;
    background-color: rgba(129, 176, 108, 0.8);
    color: #fff;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 13px;
    font-size: 0.8125rem; }
    @media only screen and (min-width: 768px) {
      #cd-google-map .tap {
        font-size: 15px;
        font-size: 0.9375rem;
        text-align: center;
        font-weight: 500;
        font-style: normal; } }
    #cd-google-map .tap.not-come {
      background-color: #e97357; }
    #cd-google-map .tap.is-visible {
      display: block; }
    #cd-google-map .tap.not-visible {
      display: none; }

#cd-zoom-in, #cd-zoom-out {
  height: 32px;
  width: 32px;
  cursor: pointer;
  margin-left: 10px;
  background-color: rgba(36, 46, 48, 0.9);
  background-repeat: no-repeat;
  background-size: 32px 64px;
  background-image: url("../img/cd-icon-controller.svg"); }
  .no-touch #cd-zoom-in:hover, .no-touch #cd-zoom-out:hover {
    background-color: #242e30; }
  @media only screen and (min-width: 768px) {
    #cd-zoom-in, #cd-zoom-out {
      margin-left: 50px; } }

#cd-zoom-in {
  background-position: 50% 0;
  margin-top: 10px;
  margin-bottom: 1px; }
  @media only screen and (min-width: 768px) {
    #cd-zoom-in {
      margin-top: 50px; } }

#cd-zoom-out {
  background-position: 50% -32px; }

#create-event {
  width: 50px;
  height: 50px;
  background-color: #81b06c;
  position: absolute;
  bottom: 70px;
  right: 20px;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  line-height: 1.8;
  font-size: 55px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4); }
  #create-event .plus {
    background: url("../img/plus.svg") no-repeat center center;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0px;
    transform: scale(0.5); }
    @media only screen and (min-width: 700px) {
      #create-event .plus {
        top: 25px;
        right: 25px;
        transform: scale(1); } }
  @media only screen and (min-width: 700px) {
    #create-event {
      width: 100px;
      height: 100px; } }
  #create-event.is-clicked {
    background-color: #e97357;
    transform: rotate(45deg); }

.more-info-container {
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  visibility: hidden;
  display: none;
  top: 42%;
  text-align: center; }
  .more-info-container .game-type {
    margin-top: 10px;
    text-align: center;
    color: #a1a1a1; }
  .more-info-container .other-info {
    margin-top: 10px; }
  .more-info-container .event-time-section {
    margin-top: 10px; }
    .more-info-container .event-time-section span {
      display: block; }
    .more-info-container .event-time-section time {
      font-weight: bold; }
  .more-info-container label {
    font-size: 12px;
    color: #a1a1a1;
    margin-top: 10px;
    display: block; }
  .more-info-container .who-will-come {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    margin-top: 10px; }
    .more-info-container .who-will-come li {
      display: inline-block;
      width: 50px;
      height: 50px;
      margin-right: 10px; }
      .more-info-container .who-will-come li img {
        width: 50px;
        height: 50px;
        border-radius: 50%; }
  .more-info-container.is-visible {
    visibility: visible;
    z-index: 999;
    display: block; }

.cursor {
  cursor: pointer; }
